:root {
    --primary-color: #ffffff;
    --white-color: white;
    --rosa-color: #f24cc3;
    --gap: 3rem;
    --light-gray-color: #00000075;
    --secondary-color: rgb(255, 0, 128);
    --poy-color: rgb(245, 244, 244);
}